<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite">

	<parameter name="url" value="http://leaftaps.com/opentaps/control/main"></parameter>
	<parameter name="username" value="Demosalesmanager"></parameter>
	<parameter name="password" value="crmsfa"></parameter>

	<groups>
		<run>
			<include name="Regression"></include>
		</run>
	</groups>

	  <test thread-count="2" name="Week7_Day1_TestExecution">
	    <classes>
	      <class name="testCase.CreateLead"/>
	      <class name="testCase.EditLead"/>
	      <class name="testCase.DeleteLead"/>
	      <class name="testCase.DuplicateLead"/>
	    </classes>
	  </test> <!-- Week7_Day1_TestExecution -->
</suite> <!-- Suite -->
